<section class="nav-bar">
    <ul class="nav-bar-1">
        <li class="nav-bar-left"><h1><a href="patient_login.html">Sign up new patients</a></h1></li>
        <li class="nav-bar-mid"><h1>Dashboard</h1></li>
        <li class="nav-bar-right"><h1><a href="/clinician/comments">Comments</a></h1></li>
    </ul>
</section>

<ul class="info-bar">
    <li class="info-bar-name"><p>Name</p></li>
    <li class="info-bar-bgl"><p>Blood Glucose</p><h2>nmol/L<h2></li>
    <li class="info-bar-wght"><p>Weight</p><h2>Kg</h2></li>
    <li class="info-bar-doses"><p>Dose Taken</p></li>
    <li class="info-bar-steps"><p>Steps</p></li>
</ul>

<HR class="dashboard-line">

{{#each data}}
<table class="patient-info">
    {{#if this.highlight}}
    <tr class="patient-info-highlight">
    {{!-- <tr onClick="location.href='google.com'" class="patient-info-highlight"> --}}
    {{else}}
    <tr class="patient-info-normal">
    {{!-- <tr onClick="location.href='google.com'" class="patient-info-normal"> --}}
    {{/if}}
        <td class="patient-info-left">{{this._patient.first_name}} {{this._patient.last_name}}</td>
        <td>{{this.bgl.val}}</td>
        <td>{{this.wght.val}}</td>
        <td>{{this.doses.val}}</td>
        <td class="patient-info-right">{{this.steps.val}}</td>
    </tr>
</table>
{{/each}}

