<nav>
    <ul>
        <li style="font-size: 16px;"><a href="/patient">Home</a> > View your data</li>
    </ul>
</nav>
<main>
    <!--标题--> 
    <ul class="title" style="margin-top: -40px; margin-bottom: 80px;">  
        <li>
            <h2 style="font-size: 36px; margin-bottom: 10px; color: #397EDA;">View Your Data</h2>
        </li>     
    </ul>

    {{#with patient}}

    <h1>Data for {{first_name}}  {{last_name}}</h1>
    
    <table class="datatab">
        <thead>
            <tr>
                <td>Date</td>
                <td>Blood Glucose</td>
                <td>Weight</td>
                <td>Doses Taken</td>
                <td>Step Count</td>
            </tr>
        </thead>
        {{#each data}}
        <tr>
            <td class="date">{{this.time}}</td>
            <td class="blood">{{this.bgl.val}}</td>
            <td class="weight">{{this.wght.val}}</td>
            <td class="dose">{{this.doses.val}}</td>
            <td class="step">{{this.steps.val}}</td>
        </tr>
        {{/each}} 
    </table>
    <br><br><br><br>
    
    {{/with}}
    <div class="page_navigation" style="text-align: center;">
        <p><a href=""><</a></a></p>
        <p><a href="">1</a></a></p>
        <p><a href="">2</a></a></p>
        <p><a href="">3</a></a></p>
        <p><a href="">4</a></a></p>
        <p><a href="">5</a></a></p>
        <p><a href="">></a></a></p>
    </div>
    <button><a href="record_data"><img src="../images/submit_icon.png">Record new data</a></button>
    <br><br>
    
    


    <ul class="title" style="margin-top: -40px; margin-bottom: 30px;">  
        <li>
            <h2 style="font-size: 36px; margin-bottom: 10px; color: #397EDA;">Your data chart</h2>
        </li>
    </ul>

    <ul class="data_graph">
        <li>
            <h4 style="font-size: 25px; margin-bottom: 10px; color: black;">blood glucose level</h4>
        </li>
        <li>
            <h4 style="font-size: 25px; margin-bottom: 10px; color: black;">Weight</h4>
        </li>
        <li>
            <h4 style="font-size: 25px; margin-bottom: 10px; color: black;">Doses Taken</h4>
        </li>
        <li>
            <h4 style="font-size: 25px; margin-bottom: 10px; color: black;">Step Count</h4>
        </li>
    </ul>



    <!--<footer>
        <h6>Copyright 2022 | Privacy</h6>
        <br>
    </footer> -->
</main>





{{!-- {{#with patient}}

{{!-- <h1>Data for {{name}}</h1> --}}

{{!-- <table class="datatab">
    <thead>
        <tr>
            <td>Date</td>
            <td>Blood Glucose</td>
            <td>Weight</td>
            <td>Doses Taken</td>
            <td>Step Count</td>
        </tr>
    </thead>
    {{#each data}}
    <tr>
        <td class="date">{{Date}}</td>
        <td class="blood">{{Glucose}}</td>
        <td class="weight">{{Weight}}</td>
        <td class="dose">{{Doses}}</td>
        <td class="step">{{Step}}</td>
    </tr>
    {{/each}}
</table>

{{/with}} --}} 
