{{#with patient}}

{{!-- <h1>Data for {{name}}</h1> --}}

<table class="datatab">
    <thead>
        <tr>
            <td>Date</td>
            <td>Blood Glucose</td>
            <td>Weight</td>
            <td>Doses Taken</td>
            <td>Step Count</td>
        </tr>
    </thead>
    {{#each data}}
    <tr>
        <td class="date">{{Date}}</td>
        <td class="blood">{{Glucose}}</td>
        <td class="weight">{{Weight}}</td>
        <td class="dose">{{Doses}}</td>
        <td class="step">{{Step}}</td>
    </tr>
    {{/each}}
</table>

{{/with}}
