<section class="nav-bar">
    <ul class="nav-bar-1">
        <li class="nav-bar-left"><h1><a href="/clinician/signup">Sign up new patients</a></h1></li>
        <li class="nav-bar-mid"><h1>Dashboard</h1></li>
        <li class="nav-bar-right"><h1><a href="/clinician/comments">Comments</a></h1></li>
    </ul>
</section>

<ul class="info-bar">
    <li class="info-bar-name"><p>Name</p></li>
    <li class="info-bar-bgl"><p>Blood Glucose</p><h2>nmol/L<h2></li>
    <li class="info-bar-wght"><p>Weight</p><h2>Kg</h2></li>
    <li class="info-bar-doses"><p>Dose Taken</p></li>
    <li class="info-bar-steps"><p>Steps</p></li>
</ul>

<HR class="dashboard-line">

{{#each data}}
<table class="patient-info" href="/clinician/{{this._patient._id}}">
    {{#if this.highlight}}
    <tr class="patient-info-highlight">
    {{else}}
    <tr class="patient-info-normal">
    {{!-- <tr class="patient-info-highlight"> --}}
    {{/if}}
    <td class="patient-info-left"><a href="/clinician/{{this._patient._id}}">{{this._patient.first_name}} {{this._patient.last_name}}</a></td>

    <td>{{this.bgl.val}}{{#if this.bgl.high}}<div class="to_top"></div>{{/if}}{{#if this.bgl.low}}<div class="to_bottom"></div>{{/if}}</td>

    <td>{{this.wght.val}}{{#if this.wght.high}}<div class="to_top"></div>{{/if}}{{#if this.wght.low}}<div class="to_bottom"></div>{{/if}}</td>

    <td>{{this.doses.val}}{{#if this.doses.high}}<div class="to_top"></div>{{/if}}{{#if this.doses.low}}<div class="to_bottom"></div>{{/if}}</td>

    <td class="patient-info-right">{{this.steps.val}}{{#if this.steps.high}}<div class="to_top"></div>{{/if}}{{#if this.steps.low}}<div class="to_bottom"></div>{{/if}}</td>
    </tr>
</table>
{{/each}}


