<h1>Displaying clinician dashboard</h1>
<ul>
{{!-- loops over the data set --}}
{{#each data}}
    <li>{{this.patient.first_name}} {{this.patient.last_name}} || blood glucose level: {{this.bgl.val}} || weight: {{this.wght.val}} || doses: {{this.doses.val}} || steps: {{this.steps.val}} || to_highlight: {{this.highlight}}</li>
{{/each}}
</ul>