<div>
    <ul>
        <li class="nav_bar"><a href="/patient/dashboard">Home</a> > View your data</li>
    </ul>
</div>
<br><br>

<main>
    <ul class="title">  
        <li>
            <h2>View Your Data</h2>
        </li> 
    </ul>

    {{#with patient}}
    
    <table class="datatab">
        <thead>
            <tr>
                <td>Date</td>
                <td>Blood Glucose</td>
                <td>Weight</td>
                <td>Doses Taken</td>
                <td>Step Count</td>
            </tr>
        </thead>
        {{#each data}}
        <tr>
            <td class="date">{{this.time}}</td>
            <td class="blood">{{this.bgl.val}}</td>
            <td class="weight">{{this.wght.val}}</td>
            <td class="dose">{{this.doses.val}}</td>
            <td class="step">{{this.steps.val}}</td>
        </tr>
        {{/each}} 
    </table>
    <br><br><br><br>
    
    {{/with}}
    <div class="page_navigation" style="text-align: center;">
        <p><a href=""><</a></a></p>
        <p><a href="">1</a></a></p>
        <p><a href="">2</a></a></p>
        <p><a href="">3</a></a></p>
        <p><a href="">4</a></a></p>
        <p><a href="">5</a></a></p>
        <p><a href="">></a></a></p>
    </div>
    <div class="button2">
        <button><a href="record_data"><img src="/images/submit_icon.png">Record new data</a></button>        </div>
    <br><br><br><br><br>
    
    
    {{!-- <ul class="title">  
        <li>
            <br>
            <h2>Your data chart</h2>
        </li>
    </ul>

    <ul class="data_graph">
        <li>
            <h4>blood glucose level</h4>
        </li>
        <li>
            <h4>Weight</h4>
        </li>
        <li>
            <h4>Doses Taken</h4>
        </li>
        <li>
            <h4>Step Count</h4>
        </li>
    </ul> --}}



    <!--<footer>
        <h6>Copyright 2022 | Privacy</h6>
        <br>
    </footer> -->
</main>

