<div>
    <ul>
            <li class="nav_bar"><a href="/patient/dashboard">Home</a> > Leaderboard</li>
    </ul>
</div>

<ul class="top-info">  
        <li>
            <h2>Leaderboard</h2>
        </li>  
</ul>

<div class="number1-pfp">
    <img src="../images/pfp_{{#if first.isF}}female{{else}}male{{/if}}.jpeg" class="pfp1">
    <span>{{#if first.badge}}<img src="../images/golden_badge.png" class="badge1">{{/if}}</span>
</div>
<div class="username1">{{first.screen_name}}</div>
<div class="score1">{{first.score}}</div>


{{#each others}}
<div class="others">
    <div class="rank">{{this.rank}}</div>
    <div class="pfp">
        <img src="../images/pfp_{{#if this.isF}}female{{else}}male{{/if}}.jpeg" class="pfp2">
        <span>{{#if this.badge}}<img src="../images/golden_badge.png" class="badge2">{{/if}}</span>
    </div>
    <div class="username2">{{this.screen_name}}</div>
    <div class="score2">{{this.score}}</div>
</div>
<br>
{{/each}}

<div class="badge-info">
    <div class="info-title">
        <p>What is a<span><img src="../images/golden_badge.png" class="badge3"></span>?</p>
    </div>
    
    <div class="info-text">
        <p>When your overall engagement rate since using the app is more than 80%, 
            you’ll get a<span><img src="../images/golden_badge.png" class="badge4"></span>!
            <br><br>Record your data everyday to make
            yourself on the leaderboard !!!</p>
    </div>
</div>

<div class="sentence">
    <p>Diabetes is the leading cause of bravery, determination, resilience, 
        maturity, empathy, strength, and compassion.
        <br>
        In other words, people with Diabetes are superheroes without capes!</p>
</div>

