<section class="patient_data_nav-bar">
    <ul class="patient_data_nav-bar-1">
        <li class="patient_data_nav-bar-left"><h1><a href="/clinician/{{data.0._patient._id}}">View Data ></a></h1></li>
        <li class="patient_data_nav-bar-mid"><h1><a href="/clinician/notes/{{data.0._patient._id}}">Clinician Notes ></a></h1></li>
        <li class="patient_data_nav-bar-right"><h1><a href="/clinician/settings/{{data.0._patient._id}}">Options ></a></h1></li>
    </ul>
</section>

<ul class="patient_data_info">
    <li class="patient_data_info-1"><h1>{{data.0._patient.first_name}} {{data.0._patient.last_name}}</h1></li>
</ul>

{{!-- 这一段是关于图表的, 先空着 --}}
<div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-between;">
    {{> bgl dates=dates datas=datas}}
    {{> wght dates=dates datas=datas}}
    {{> doses dates=dates datas=datas}}
    {{> steps dates=dates datas=datas}}
</div>

<ul class="patient_data_title">
    <li class="patient_data_title-1"><h1>History Data</h1></li>
</ul>

<HR class="patient-data-line">

<ul class="patient-data-info-bar">
    <li class="patient-data-info-bar-name"><p>Date</p></li>
    <li class="patient-data-info-bar-bgl"><p>Blood Glucose</p><h2>nmol/L<h2></li>
    <li class="patient-data-info-bar-wght"><p>Weight</p><h2>Kg</h2></li>
    <li class="patient-data-info-bar-doses"><p>Dose Taken</p></li>
    <li class="patient-data-info-bar-steps"><p>Steps</p></li>
</ul>

<HR class="patient-data-dashboard-line">


{{#each data}}
<table class="patient-data-patient-info">
    <tr class="patient-data-patient-info-normal">
        <td class="patient-data-patient-info-left">{{this._patient.first_name}} {{this._patient.last_name}}</td>
        <td>{{this.bgl.val}}</td>
        <td>{{this.wght.val}}</td>
        <td>{{this.doses.val}}</td>
        <td class="patient-data-patient-info-right">{{this.steps.val}}</td>
    </tr>
</table>
{{/each}}
